loki:
  deploymentMode: SingleBinary

  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: 'filesystem'
    schemaConfig:
      configs:
        - from: 2024-01-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h
    
    storage_config:
      aws:
        bucketnames: "void"
        endpoint: "void"
        region: "void"
        access_key_id: "void"
        secret_access_key: "void"
        s3forcepathstyle: true

  write:
    replicas: 0
    persistence:
      enabled: false
  read:
    replicas: 0
    persistence:
      enabled: false
  backend:
    replicas: 0
    persistence:
      enabled: false

  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      size: 10Gi
