apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: db-password-sync
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: gcp-secret-store
    kind: ClusterSecretStore
  target:
    name: my-db-secret
    creationPolicy: Owner
  data:
  - secretKey: password
    remoteRef:
      key: db-password
