apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: github-pat
  namespace: argocd
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: gcp-secret-store
    kind: ClusterSecretStore
  target:
    name: git-creds
    creationPolicy: Owner
  data:
  - secretKey: password
    remoteRef:
      key: github-pat
      version: latest
