name: Build and Push

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/go-app/**' # Only run when the app code changes
      - '.github/workflows/build-push.yaml'

env:
  PROJECT_ID: sre-portfolio-platform
  GAR_LOCATION: us-central1
  REPOSITORY: my-artifact-repo
  IMAGE: go-app
  WI_PROVIDER: projects/420982623916/locations/global/workloadIdentityPools/github-pool/providers/github-provider
  WI_SERVICE_ACCOUNT: github-actions-sa@sre-portfolio-platform.iam.gserviceaccount.com

jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          token_format: 'access_token'
          workload_identity_provider: ${{ env.WI_PROVIDER }}
          service_account: ${{ env.WI_SERVICE_ACCOUNT }}

      - name: Login to Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GAR_LOCATION }}-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./src/go-app
          push: true
          # Tags the image with the Git SHA (Specific) and Latest (Mutable)
          tags: |
            ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE }}:${{ github.sha }}
            ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE }}:latest
